*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    
}

html, body {
    height: 100%; 
  }

html{
    font-size: 62.5%;
}

.container{
    position: relative;
    min-height: 100%;
    margin: 0 auto -5rem;
}

/* ======= Header =======*/
.head{    
    display: flex;
    margin-top: 1.5rem;
    align-items: center;    
}

.title{
    border-bottom: .6rem solid #B5C401;
    border-radius: .6rem;
    padding-bottom: .4rem;
}

.head > h1{
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 4.4rem;
    margin-left: 14.1rem;
    margin-right: 7.4rem;
    color: #707070;
}
.head > h3{
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    color: #707070;    
}



.head-right {
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-items: center;
    color: #707070;
    font-size: 1.6rem;
    margin-top: 2.8rem;
    margin-left: 10%;    
}

.head-right > h3{
    display: flex;
    align-items: center;
}

.head-right > h3 > img{
   width: 2.1rem;
   height: 2rem;
    margin-left: 1rem;
}

.head-right > h2{
    margin-left: 13.6rem;
    margin-right: 4rem;
}

/* ======= Main =======*/
main {
    margin-left: 13rem;
    
}

.main1{
    margin-bottom: 12.8rem;
    position: relative;
}

.main-header > h1{
    font-family:  Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    font-style: italic;
    color: #707070;
    margin-bottom: 3.3rem;
}

.main-header > h1 >span{
    font-weight: lighter;
}

.main-header > p {
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: #868686;
    margin-bottom: 2rem;
}

.buttons>button {
    font-family:  Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    width: 11.3rem;
    height: 3.4rem;
    border: .2rem solid;
    opacity: 1;
    border-radius: 10rem;
    font-size: 1.4rem;
    margin-right: 2.5rem;
    margin-bottom: 3.6rem;
}

.bet > p{
    color: #868686;
    font-size: 1.7rem;
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.bet > span{
    color: #868686;
    font-size: 1.7rem;
    font-family:  Helvetica, sans-serif;    
    font-style: italic;
}

.ActionButtons {
    display: flex;
    width: 68.4rem;
    font-size: 1.6rem;
    font-family:  Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 5rem;    
}

/* ======= Numbers of the game =======*/

.gameNumbers {
    width: 69.4rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

span.numbers {
    width: 6.3rem;
    height: 6.3rem;
   display: flex;
   align-items: center;
   justify-Content: center;
   margin-left: 1.2rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    text-align: left;
    border-radius: 3rem;
}

/* ======= ActionButtons =======*/

.addCart {
    width: 20.9rem;
    height: 5.2rem;
    background: #27C383 0% 0% no-repeat padding-box;
    border: .1rem solid #27C383;
    border-radius: 1rem;
    opacity: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.addCart>img {
    width: 2.7rem;
    height: 2.5rem;
    margin-left: 2.557rem;
    margin-right: 2.886rem; 
}

.addCart>span {
    font-size: 1.6rem;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
}

.complet {
    width: 16.4rem;
    height: 5.2rem;
    border-radius: 1rem;
    color: #27C383;
    font-size: 1.6rem;
    border: .1rem solid #27C383;
}

.clear {
    width: 16.4rem;
    height: 5.2rem;
    border-radius: 1rem;
    color: #27C383;
    font-size: 1.6rem;
    border: .1rem solid #27C383;
    margin-left: 2.5rem;
    margin-right: 14.2rem;
}

/* ======= Cart =======*/

.cart {
    width: 32.5rem;
    max-height: 48.4rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: .1rem solid #E2E2E2;
    border-radius: 1rem;
    /* overflow: scroll; */
    margin-left: 15%;
}

.cartNumbers{
    color: #868686;
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    word-break: break-word;
}

.divCart{
    
    width: 23.4rem;
    height: 8.6rem;
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
}

.trashElement{
    width: 2rem;
    height: 2.4rem;
    margin-right: 1.4rem;
    margin-left:1.7rem;
}

.cartElements{
    padding-left: 1.2rem;
    width: 23.4rem;
    border-radius: .5rem;
    line-height: 2.5rem;
    border-radius: .5rem;
   
}

.cartContent{
    overflow: scroll;
    max-height: 41.2rem;
}

.empityCart{
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2.4rem;
    margin-top: 2.5rem;
    text-align: center;
}

.saveCart{
    
    width: 31.7rem;
    height: 9.6rem;
    border: .1rem solid #E2E2E2;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    color: #27C383;
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.cart::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.cart::-webkit-scrollbar {
    width: .6rem;
    background: #F4F4F4;
}
.cart::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.saveCart > img{
    margin-left: 1.4rem;
    width: 2.4rem;
    height: 3.5rem;
}

.TitleCart{
    color: #707070;
    font-size: 2.4rem;
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-left: 1.9rem;
    font-size: 2.4rem;
    padding-top: 3.2rem;
}

.ValueCart{
    color: #707070;
    font-size: 2.4rem;
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-left: 1.9rem;
    font-size: 2.4rem;
    margin-top: 4rem;
    margin-bottom: 4.7rem;
}


.ValueCart > span{
    font-weight: lighter;
}

/* ======= Footer =======*/

footer > p {
    text-align: center;
    color: #707070;
    font-size: 1.7rem;
    font-family:  Helvetica, sans-serif;
    font-weight: normal;   
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: .2rem solid #EBEBEB;
    padding-top: 3rem;
    padding-bottom: 2.8rem;
    text-align: center;
}

/* ======= Display Grid =======*/

.grid {  
	display: grid;
}

.logo {
	grid-area: logo;
}

.nav {
	grid-area: nav;
}

.content {
    margin-top: 7.2rem;
    margin-left: 13rem;
	grid-area: content;
}

.sidenav {
	grid-area: sidenav;
}

.advert {
    margin-top: 7.2rem;
    margin-left: 7.4rem;
	grid-area: advert;
}

.footer {
	grid-area: footer;
}



.grid-template-area {
	grid-template-columns: 50% 50%;
	grid-template-rows: 4rem 80% 1rem;
	grid-template-areas:
		"logo nav"
		"content advert"
		"footer footer"
		;
}
