* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.head {
    display: flex;
}

footer>p {
    text-align: center;
}

main {
    margin-left: 130px;
}

main>h1 {
    color: #707070;
    font-family: 24px;
}

.main-header>p {
    font-size: 17px;
    color: #868686;
}

.buttons>button {
    width: 113px;
    height: 34px;
    border: 2px solid;
    opacity: 1;
    border-radius: 100px;
    font-size: 14px;
    margin-right: 25px;
}

.buttons>.lotofacil {
    border-color: #7f3992;
    text-align: center;
    letter-spacing: 0px;
    color: #7f3992;
}

.buttons>.mega {
    border-color: #01ac66;
    background: #01ac66 0% 0% no-repeat padding-box;
    text-align: center;
    letter-spacing: 0px;
    color: #ffffff;
}

.buttons>.lotomania {
    border-color: #f79c31;
    text-align: center;
    letter-spacing: 0px;
    color: #f79c31;
}

.ActionButtons {
    display: flex;
}

.gameNumbers {
    max-width: 684px;
    /* max-height: 326px; */
    display: flex;
    flex-wrap: wrap;
}

span.numbers {
    width: '63px';
    height: '65px';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    margin-left: '12px';
    margin-bottom: '20px';
    text-align: 'left';
    border-radius: '30px';
}

.addCart {
    width: 209px;
    height: 52px;
    background: #27C383 0% 0% no-repeat padding-box;
    border: 1px solid #27C383;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    align-items: center;
}

.addCart>img {
    width: 27px;
    height: 25px;
    margin-left: 25.57px;
    margin-right: 28.86px;
    /* margin-top: 13px; */
}

.addCart>span {
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
    letter-spacing: 0px;
    opacity: 1;
}

.complet {
    width: 164px;
    height: 52px;
    border-radius: 10px;
    color: #27C383;
    font-size: 16px;
    border: 1px solid #27C383;
}

.clear {
    width: 135px;
    height: 52px;
    border-radius: 10px;
    color: #27C383;
    font-size: 16px;
    border: 1px solid #27C383;
    margin-left: 25px;
    margin-right: 142px;
}

.cart {
    width: 317px;
    height: 484px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    word-wrap: break-word;
}